<html>
    <head>
        <title>Restaurants List</title>
    </head>
    <body>
        <h1>Welcome to the Restaurant List</h1>

        <p><a href="/restaurants">Restaurants</a>. Click here to see all of the restaurants
            and to add a restaurant.</p>
        <p><a href="/cuisine">Cuisines</a>. Click here to see all of the cuisines and to add a cuisine.</p>
    </body>
</html>
