<html>
    <head>
        <title>Restaurant List</title>
    </head>
    <body>
        <h1>Restaurants</h1>
        {% if restaurants is not empty %}
            <p>Here are all your restaurants:</p>
            <ul>
                {% for restaurant in restaurants %}
                    <li>{{ restaurant.getRestaurantName }} <a href="/restaurants/{{ restaurant.getId }}/edit">Edit</a>
                {% endfor %}
            </ul>
            {% endif %}
            <div>
                <form action='/restaurants' method='post'>
                    <label for='restaurant_name'>Restaurant Name</label>
                    <input id='restaurant_name' name='restaurant_name' type='text'>

                    <button type='submit'>Add Restaurant</button>
                </form>
            </div>
            <div>
                <form action='/delete_restaurants' method='post'>
                    <button type='submit'>Clear</button>
                </form>
            </div>


            <p><a href='/'>Home</a></p>
    </body>
</html>
